* {
  background-color: #f6f8fa;
  /* margin: 0%; */
}
.App {
  padding: 0%;
  font-family: sans-serif;
  text-align: center;
}
.fileDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.file {
  margin: auto;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}
.file img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid; */
  padding: 0.7rem;
  font-size: 17px;
  font-weight: 600;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.linktag {
  text-decoration: none;
  color: black;
}

input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin-top: 10px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
  width: 73%;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  background-color: #55c2da;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: #07b3da;
}
.linktag {
  text-decoration: none;
}
.homeNav {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.homeNav span {
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}
.homeNav span:hover {
  background-color: #07b3da;
  color: white;
  font-weight: 600;
}

/* Chat CSS */

.chatContainer {
  display: flex;
  height: 84.1vh;
  font-weight: 600;
}
.useList {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ChatUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
.ChatUser:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: white;
}
.ChatUser span{
  background-color:transparent;
}
.userImage > img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.chatBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.chatMessageBox {
  /* border: solid red; */
  height: 74.5vh;
  overflow-y: auto;
  margin-bottom: 0%;
}
.chatTo_profile_bar{

}
.inputDiv {
  margin-top: 0%;
  width: 98%;
}
.chatInput {
  border: solid;
  border: none;
  box-shadow: none;
}
.messageContainerDiv span {
  color: greenyellow;
  background-color: transparent;
}

.myChat {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  color: #ffffff;
  background-color: #2791cf;
  border-radius: 50px 10px 10px 50px;
  text-align: right;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
}
.fromChat {
  display: flex;
  justify-content: space-between;
  color: #3f3f3f;
  background-color: #ffffff;
  padding: 5px 15px;
  max-width: 400px;
  margin-bottom: 15px;
  border-radius: 10px 50px 50px 10px;
}

@media only screen and (min-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .signupPage {
    width: 40%;
    margin: auto;
  }
  .loginPage {
    width: 40%;
    margin: auto;
  }
}
@media only screen and (min-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .signupPage {
    width: 50%;
    margin: auto;
  }
  .loginPage {
    width: 50%;
    margin: auto;
  }
}
