* {
  background-color: #f6f8fa;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.file {
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 15px;
  /* border: solid; */
}
.file img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid; */
  padding: 0.5rem;
  font-size: 17px;
  font-weight: 600;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.linktag {
  text-decoration: none;
  color: black;
}

input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin-top: 10px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
  width: 74%;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  background-color: #55c2da;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: #07b3da;
}
.linktag {
  text-decoration: none;
}
.homeNav {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.homeNav span {
  /* border: 1px solid; */
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}
.homeNav span:hover {
  background-color: #07b3da;
  color: white;
  font-weight: 600;
}

/* Chat CSS */
.chatContainer {
  display: flex;
}
.useList {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 76vh;
  border: 1px solid;
  overflow: scroll;
}
.ChatUser {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
.ChatUser:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.userImage {
}
.userImage > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.chatBox {
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 76vh;
  width: 85%;
  border: 1px solid red;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.chatMessageBox {
  height: 100%;
  border: solid;
}
.inputDiv {
  width: 89%;
}
.chatInput {
  border: solid;
}
